# Dependencies
node_modules/
jspm_packages/
web_modules/

# Environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*
.vercel/
.caprover/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented code coverage downloads
.nyc_output
coverage/
.component_cache

# Build outputs (Uncomment if you use TypeScript, Babel, Next.js, Nuxt, etc.)
# dist/
# build/
# .next/
# .nuxt/
# out/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# jetbrains IDEs
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Operating System Files
.DS_Store
Thumbs.db
/generated/prisma
